.container {
    display: flex;
    padding: 25px 0;
    border-bottom: 1px solid dimgray;
    margin-bottom: 20px;
}

.navigation__left {
    display: flex;
    width: 20%;
}

.navigation__right {
    display: flex;
    width: 80%;
}

@media screen and (max-width: 700px){
    .navigation__right {
        display: none;
    }
    .navigation__left {
        height: 100px;
        width: 100%;
        justify-content: center;
    }
}
